@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css);

body {
    --header-text-color: #fff;
    --text-color: #252323;
}

/*----------------------------------------------
    HEADER
----------------------------------------------*/

header {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    z-index:2;
}

header a {
    color: var(--header-text-color);
    opacity: 0.5;
    transition: 0.5s;
}   

header a:hover  {
    color: var(--header-text-color);
    opacity: 1;
}


.large_navbar ul {
    display: flex;
}

.large_navbar ul li {
    padding: 0px 5px;
}

.logo {
    padding: 0px 10px;
    text-decoration: none;
    font-size: 2em;
    opacity: 1;
    transition: 0.75s;
}   

.logo:hover {
    color: var(--header-text-color);
    opacity: 0.75;
}

.large_navbar ul li a,
#small_navbar-collapse ul li a {
    font-weight: 300;
    padding: 10px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    opacity: 0.5;
    transition: 0.5s;
}  

.large_navbar ul li a:hover,
.large_navbar ul:nth-child(2) li:nth-child(1) a,
#small_navbar-collapse ul li a:hover {
    opacity: 1;
    border-color: #4973ff;
}

.large_navbar ul:nth-child(3) li a:hover {
    border-color: #08D089;
}



.menu_small-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.menu_small-navbar ul {
    display: flex;
    align-items: center;
}

.menu_small-navbar ul a{
    font-weight: 300;
    padding: 5px;
    color: var(--header-text-color);
    opacity: 0.5;
    transition: 0.5s;
}   

.menu_small-navbar ul a:hover{
   opacity: 1;
}
    
#small_navbar-collapse ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#small_navbar-collapse ul li {
    margin-bottom: 15px;
    list-style: none;
}

/*----------------------------------------------
    SECTION
----------------------------------------------*/

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section a {
    text-decoration: none;
    font-weight: 700;
    background: linear-gradient(to top left, #08D089, #4693ff);
    color: #252323;
    padding: 10px;
    border-radius: 25px;
    transition: 1s;
}

section a:hover {
    color: #fff;
    box-shadow: 
    0px 0px 40px #08D089,
    0px 0px 80px  #4693ff,
    0px 0px 120px #08D089;
}


.redes {
    position: absolute;
    right: 0;
}

.redes li {
    padding: 10px;
}

.redes a {
    color: var(--header-text-color);
    background: transparent;
    opacity: 0.5;
}
.redes a:hover {
    opacity: 1;
    box-shadow: none;
    filter: drop-shadow(0px 0px 40px #ffffff)
}

#scroll_btn {
    position: fixed;
    border-radius: 50%;
    color: #fff;
    padding: 10px;
    background: #25232350;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
    z-index: 1000;
}

#scroll_btn:hover {
    box-shadow: none;
    background-color: #25232380;
}

/*----------------------------------------------
    MAIN
----------------------------------------------*/

.plataforms_section {
    border-left: 5px solid;
    padding-left: 10px;
    border-color: #08D089;
}

.plataforms_section ul {
    padding: 15px 0px;
}

.plataforms_section ul img {
    padding-bottom: 5px;
}

.plataforms_section img {
    border-radius: 2.5px;
}

.plataforms_section a {
    transition: 0.5s;
}

.plataforms_section a:hover {
    opacity: 0.75;
}


.lema {
    text-align: center;
    padding-top: 50px;
}

.lema h3 {
    opacity: 0.7;
}

.lema h1 {
    opacity: 0.8;
}

/*----------------------------------------------
    FOOTER
----------------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    opacity: 0.75;
}

footer div li {
    list-style: unset;
}

footer div ul li a {
    color: var(--text-color);
    opacity: 0.5;
}

footer div ul li a:hover {
    color: var(--text-color);
    opacity: 0.75;
}