$primary_color: var(--bs-green-400);

body {
    @media screen and (max-width: 767px) {
        .scroll-btn {
            --obj-position: 5px;
            --obj-multply: 7.5;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
        .scroll-btn {
            --obj-position: 10px;
            --obj-multply: 2;
        }
    }

    @media screen and (min-width: 992px) {
        .scroll-btn {
            --obj-position: 15px;
            --obj-multply: 1.5;
        }
    }

    .scroll-btn {
        position: fixed;
        right: -100%;
        bottom: calc(var(--obj-position) * var(--obj-multply));
        transition: 0.35s ease;
        z-index: 5000;

        a {
            color: var(--bs-gray-900);
            transition: 0.35s ease;

            &:hover {
                opacity: 0.85;
                transform: scale(1.5);
            }
        }
    }
}

header {
    color: var(--bs-dark);
    border-bottom: 1px solid var(--bs-gray-200);
    background: linear-gradient(to bottom, var(--bs-gray-100), var(--bs-light));

    $border-color: $primary_color;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            margin-right: 0.5rem;
            transition: 0.25s;

            &:hover {
                opacity: 0.95;
            }
        }

        ul {
            padding: 0.75rem 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            border-left: 1px solid var(--bs-gray-200);

            li {
                list-style: none;
                padding-left: 0.5rem;

                a {
                    padding: 0.75rem 0.25rem;
                    color: currentColor !important;
                    border-bottom: 5px solid transparent;
                    transition: 0.25s;

                    &:hover {
                        color: var(--bs-gray-700) !important;
                        border-color: $border-color;
                    }

                    &:focus {
                        border-color: $border-color;
                    }
                }
            }
        }
    }

    ::selection {
        background-color: transparent;
    }
}

main {
    --clip_path: 3rem;

    section {
        background-image: url("../images/section-backdrop.png");
        background-color: $primary_color;
        color: var(--bs-light) !important;

        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, var(--clip_path) 100%, 0px calc(100% - var(--clip_path)));

        .display {
            min-height: 75vh;
            display: grid;

            @media screen and (max-width: 767px) {
                grid-template-columns: 1fr;
                grid-template-rows: auto minmax(25px, 50px);
                grid-template-areas:
                    "item-1"
                    "item-3";

                .content-section {
                    align-items: center;
                    text-align: center;
                    z-index: 50;
                }

                .img-section {
                    grid-area: item-1;
                    opacity: 0.35;
                }
            }

            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto minmax(25px, 50px);
                grid-template-areas:
                    "item-1 item-1 item-2"
                    "item-3 item-3 item-3";

                .content-section {
                    align-items: flex-start;
                }

                .img-section {
                    grid-area: item-2;
                }
            }

            .content-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                grid-area: item-1;
            }

            .img-section {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("../images/section-img.svg");
            }

            .btn-section {
                display: flex;
                justify-content: center;
                align-items: center;
                grid-area: item-3;

                a {
                    color: currentColor !important;

                    &:hover {
                        opacity: 0.75;
                        transform: scale(1.25);
                    }

                    &:focus {
                        transform: scale(1.25);
                    }
                }
            }
        }

        ::selection {
            background-color: transparent;
        }
    }

    aside {
        .display {
            display: grid;
            grid-gap: 1.5rem;

            @media screen and (max-width: 767px) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, auto);
                grid-template-areas:
                    "item-1"
                    "item-2"
                    "item-3"
                    "item-4";
                grid-gap: 2rem !important;

                .img-section {
                    min-height: 50vw;
                }
            }

            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, auto);
                grid-template-areas:
                    "item-1 item-1 item-1"
                    "item-2 item-2 item-3"
                    "item-4 item-4 item-4";
            }

            .content-section {
                grid-area: item-1;
            }

            .badge-section {
                grid-area: item-2;

                ul {
                    ol {
                        dl {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            margin-top: 0.5rem;

                            li {
                                margin-left: 0.5rem;
                                list-style: none;

                                a {
                                    &:hover {
                                        opacity: 0.85;
                                    }
                                }

                                img {
                                    border-radius: 0.09375rem;
                                }
                            }

                            ::selection {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }

            .img-section {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("../images/undraw_innovative_b409.svg");
                grid-area: item-3;
            }

            .contact-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                grid-area: item-4;
            }
        }
    }

    footer {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-image: url("../images/section-backdrop.png");
        color: var(--bs-light) !important;
        clip-path: polygon(0 0, calc(100% - var(--clip_path)) 0, 100% var(--clip_path), 100% 100%, 0 100%);

        .display {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "item-1"
                "item-2";
            grid-gap: 1.5rem;

            .content-section {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                grid-area: item-1;

                .logo {
                    text-align: center;
                    font-size: 4rem;
                    font-weight: 900;

                    &::selection {
                        background: transparent;
                    }
                }

                ul {
                    ol {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;

                        li {
                            padding-left: 0.5rem;
                            margin-bottom: 0.25rem;
                            list-style: none;

                            a {
                                color: currentColor !important;

                                &:hover,
                                &:focus {
                                    opacity: 0.75;
                                }
                            }
                        }
                    }
                }
            }

            .img-section {
                grid-area: item-2;
            }

            .copyright-section {
                grid-area: item-2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span {
                    &::selection {
                        background: transparent;
                    }
                }
            }
        }
    }
}

@import "../scss/main";
