header {
    padding: 5px 25px;
}

.section_container {
    min-height: 100vh;
    padding: 125px 50px 50px 50px;
    display: flex;
    align-items: center;
}

main section {
    min-height: 100vh;
}

.section_img {
    max-height: 50vh;
    max-width: 25vw;
}

.scroll_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    right: 5px;
}


.about {
    padding: 30px 50px;
}

.projects .card-group {
    width: 200vw;
}

.projects .card {
    max-width: 50vw;
}