.small_navbar {
    display: none;
}

/*----------------------------------------------
    HEADER
----------------------------------------------*/

header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
}

.large_navbar {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .large_navbar ul:nth-child(3) {
        display: none;
    }

/*----------------------------------------------
    SECTION
----------------------------------------------*/

.redes li {
    padding: 10px;
}

.scroll_btn {
    height: 50px;
    width: 50px;
    position: fixed;
}

/*----------------------------------------------
    MAIN
----------------------------------------------*/

main aside {
    padding: 50px 50px;
}

main aside:nth-child(1) div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me_img {
    height: 40vh;
}



.projects_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects-card {
    width: calc(50% - 20px);
    height: calc(50vw - 70px);
    margin: 10px;
}

/*----------------------------------------------
    FOOTER
----------------------------------------------*/

footer {
    padding: 25px;
}

footer div {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer div:nth-child(3) {
    padding: 0px;
    display: flex;
    justify-content: center;
}
