.large_navbar {
    display: none;
}

.small_navbar {
    display: inline;
}

/*-------------------------------------------------
    HEADER
---------------------------------------------------*/

header {
    padding: 10px 10px;
}

    .small_navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .small_navbar li {
        display: flex;
        justify-content: flex-end;
    }

    .small_navbar li a {
        margin: 5px 0px;
    }

    header ul {
        display: flex;
    }

/*-------------------------------------------------
    MAIN SECTION
---------------------------------------------------*/

.main_section {
    width: 100%;
    height: calc(100vh - 5px);
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .main_section-about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main_section-about img {
        max-height: calc(100vw * 0.75);
    }

    .main_section span {
        width: calc(100vw - 50px);
        top: calc(100vh  - 50px);
    }

    .main_section-divisor {
        bottom: 0;
    }

/*-------------------------------------------------
    MAIN ASIDE
---------------------------------------------------*/

.about_aside {
    padding: 50px 5px;
}

.projects_aside section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_img-card img {
    width: calc(100vw - 50px);
    height: calc((100vw - 50px) * 0.5625);
}

.github_card {
    max-width: 95vw;
}
    .github-profile_img {
        width: calc(95vw - 0px);
    }

/*-------------------------------------------------
    FOOTER
---------------------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}