.large_navbar {
    display: none;
}

/*----------------------------------------------
    HEADER
----------------------------------------------*/

/*----------------------------------------------
    SECTION
----------------------------------------------*/

.redes li {
    padding: 5px;
}

.scroll_btn {
    height: 50px;
    width: 50px;
    position: fixed;
}

/*----------------------------------------------
    MAIN
----------------------------------------------*/

main aside {
    padding: 15px 5px;
}

main aside:nth-child(1) div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me_img {
    height: 40vh;
}


.projects_section {
    display: flex;
    flex-direction: column;
}

.projects-card {
    width: calc(100% - 10);
    height: calc(100vw - 60px);
    margin: 5px;
}

/*----------------------------------------------
    FOOTER
----------------------------------------------*/

footer {
    padding: 5px;
}

footer div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h2 {
    text-align: center;
}

footer div ul {
    padding: 10px 15px;
}

footer ul:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer ul li {
    list-style: none;
}

footer div:nth-child(3) {
    padding: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}
