header {
    padding: 5px 0px;
    background: var(--bs-dark);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header ul li {
    padding: 5px;
}

header .logo {
    font-size: 2.5em;
}

header a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

header button {
    transition: 0.5s;
}

header a:hover {
    color: #fff;
    opacity: 0.75;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offcanvas ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.offcanvas a {
    color: var(--bs-dark);
    transition: none;
}

.offcanvas a:hover {
    color: var(--bs-dark);
    opacity: 0.75;
}