#scroll_btn {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    right: 5px;
    bottom: 25px;
    color: #252323;
    transition: 0.5s;
    z-index: 5000;
}

#scroll_btn:hover {
    color: #25232390;
}