.btn-purple {
    color: var(--bs-white);
    background-color: var(--bs-purple);
}

.btn-purple:hover {
    color: var(--bs-white);
    background-color: var(--bs-purple-hover);
    border-color: var(--bs-purple);
}

.btn-purple:focus {
    box-shadow: 0 0 0 0.25rem var(--bs-purple-shadow);
}

.btn-yellow {
    color: var(--bs-white);
    background-color: var(--bs-yellow);
}

.btn-yellow:hover {
    color: var(--bs-white);
    background-color: var(--bs-yellow-hover);
    border-color: var(--bs-yellow);
}

.btn-yellow:focus {
    box-shadow: 0 0 0 0.25rem var(--bs-yellow-shadow);
}

/*--------------------------------
-- BTN-OUTLINE -------------------
--------------------------------*/

.btn-outline-purple {
    border-color: var(--bs-purple);
    color: var(--bs-purple);
}

.btn-outline-purple:hover {
    color: var(--bs-white);
    background-color: var(--bs-purple);
}

.btn-outline-purple:focus {
    box-shadow: 0 0 0 0.25rem var(--bs-purple-shadow);
}


.btn-outline-yellow {
    border-color: var(--bs-yellow);
    color: var(--bs-yellow);
}

.btn-outline-yellow:hover {
    color: var(--bs-white);
    background-color: var(--bs-yellow);
}

.btn-outline-yellow:focus {
    box-shadow: 0 0 0 0.25rem var(--bs-yellow-shadow);
}

/*--------------------------------
-- BTN-NELTRAL -------------------
--------------------------------*/

.btn-neltral {
    text-decoration: none;
}

.btn-neltral-light {
    color: var(--bs-white);
}

.btn-neltral-light:hover {
    color: var(--bs-white-hover);
}
