header nav {
    padding: 5px 10px;
}

header .content-collapse {
    padding: 5px 15px;
}


section {
    padding: 75px 50px 10px 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% auto 50px;
    grid-template-areas: 
    'item-1 item-1'
    'item-2 item-2'
    'item-3 item-3';

    .content-section {
        grid-area: item-2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .img-section {
        grid-area: item-1;
    }
}

aside {
    .content {
        padding: 45px 10px;
        display: grid;
        grid-template-rows: auto auto auto 75px;
        grid-template-areas: 
        'item-1'
        'item-2'
        'item-3'
        'item-4';

        .content-text {
            grid-area: item-1;
        }

        .content-badges {
            grid-area: item-2;
        }

        .content-img {
            grid-area: item-3;
            min-height: 50vw;
        }

        .content-btn {
            grid-area: item-4;
        }
    }

    .project {
        padding: 0px 10px;

        .container-cards {
            display: grid;
            grid-template-columns: 95vw;
            grid-template-rows: repeat(5, 95vw);
            grid-row-gap: 15px;
            grid-template-areas: 
            'item-1' 
            'item-2'
            'item-3' 
            'item-4'
            'item-5';
            justify-content: center;
        }

        .project-1 {
            grid-area: item-1;
        }
        .project-2 {
            grid-area: item-2;
        }
        .project-3 {
            grid-area: item-3;
        }
        .project-4 {
            grid-area: item-4;
        }
        .project-5 {
            grid-area: item-5;
        }
    }

    .footer {
        padding: 5px;

        div {
            padding: 5px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        h2 {
            text-align: center;
        }

        div ul {
            padding: 10px 15px;
        }

        ul:nth-child(3) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        ul li {
            list-style: none;
        }

        div:nth-child(3) {
            padding: 0px;
            display: flex;
            justify-content: center;
            text-align: center;
        } 
    }
}












 