header nav {
  padding: 10px 25px;
}

header .content-collapse {
  padding: 15px 75px;
}

section {
  padding: 75px 50px 10px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: auto 50px;
      grid-template-rows: auto 50px;
      grid-template-areas: 'item-1 item-2' 'item-3 item-3';
}

section .content-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section .img-section {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item-2;
}

aside .content {
  padding: 50px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
  -ms-grid-rows: auto auto 50px;
      grid-template-rows: auto auto 50px;
      grid-template-areas: 'item-1 item-1' 'item-2 item-3' 'item-4 item-4';
}

aside .content .content-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-1;
}

aside .content .content-badges {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item-2;
}

aside .content .content-img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-3;
}

aside .content .content-btn {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item-4;
}

aside .project {
  padding: 0px 50px;
}

aside .project .container-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(47.5vw - 50px))[2];
      grid-template-columns: repeat(2, calc(47.5vw - 50px));
  -ms-grid-rows: (calc((47.5vw - 50px) * 0.75))[3];
      grid-template-rows: repeat(3, calc((47.5vw - 50px) * 0.75));
  grid-row-gap: 30px;
      grid-template-areas: 'item-1 item-2' 'item-3 item-4' 'item-5 item-6';
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside .project .project-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-1;
}

aside .project .project-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item-2;
}

aside .project .project-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-3;
}

aside .project .project-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item-4;
}

aside .project .project-5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item-5;
}

aside .footer {
  padding: 25px;
}

aside .footer .footer div {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside .footer .footer div:nth-child(3) {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main-md.css.map */