$dark-color: var(--bs-black);
$light-color: var(--bs-white);

$font-weight: 400;
$line-height: 1.5;
$padding: 0.375rem 0.75rem;
$padding-lg: 0.5rem 1rem;
$padding-sm: 0.25rem 0.5rem;
$font-size: 1rem;
$font-size-lg: 1.5rem;
$font-size-sm: 0.875rem;
$box-shadow: 0 0 0 0.25rem;

$blue-shadow: var(--bs-blue-200);
$blue-primary-color: var(--bs-blue-500);
$blue-secondary-color: var(--bs-blue-600);

$green-shadow: var(--bs-green-200);
$green-primary-color: var(--bs-green-500);
$green-secondary-color: var(--bs-green-600);

.btn {
    display: inline-block;
    font-weight: $font-weight;
    line-height: $line-height;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: $padding;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem $blue-shadow;
    }

    &:hover {
        color: $dark-color;
    }

    &-lg {
        padding: $padding-lg;
        font-size: $font-size-lg;
        border-radius: 0.3rem;
    }

    &-sm {
        padding: $padding-sm;
        font-size: $font-size-sm;
        border-radius: 0.2rem;
    }

    &-blue {
        color:                  $light-color;
        background-color:       $blue-primary-color;
        border-color:           $blue-primary-color;

        &:active {
            color:              $light-color;
            background-color:   $blue-secondary-color;
            border-color:       $blue-secondary-color;
        }

        &:focus {
            color: $light-color;
            background-color:   $blue-secondary-color;
            border-color:       $blue-secondary-color;
            box-shadow:         $box-shadow $blue-shadow;
        }

        &:hover {
            color: $light-color;
            background-color: $blue-secondary-color;
            border-color: $blue-secondary-color;
        }
    }

    &-light {
        color: #000;
        background-color: #f8f9fa;
        border-color: #f8f9fa;

        &:active {
            color: #000;
            background-color: #f9fafb;
            border-color: #f9fafb;
        }

        &:focus {
            color: #000;
            background-color: #f9fafb;
            border-color: #f9fafb;
            box-shadow: 0 0 0 0.25rem #f8f9fa50;
        }

        &:hover {
            color: #000;
            background-color: #f9fafb;
            border-color: #f9fafb;
        }
    }

    &-success {
        color:                  $light-color;
        background-color:       $green-primary-color;
        border-color:           $green-primary-color;

        &:active {
            color:              $light-color;
            background-color:   $green-secondary-color;
            border-color:       $green-secondary-color;
        }

        &:focus {
            color: $light-color;
            background-color:   $green-secondary-color;
            border-color:       $green-secondary-color;
            box-shadow:         $box-shadow $green-shadow;
        }

        &:hover {
            color: $light-color;
            background-color: $green-secondary-color;
            border-color: $green-secondary-color;
        }
    }

    &-outline {
        &-primary {
            color: #0d6efd;
            border-color: #0d6efd;

            &:active {
                color: #fff;
                background-color: #0d6efd;
                border-color: #0d6efd;
            }

            &:focus {
                box-shadow: 0 0 0 0.25rem #0d6efd50;
            }

            &:hover {
                color: #fff;
                background-color: #0d6efd;
                border-color: #0d6efd;
            }
        }

        &-success {
            color: #198754;
            border-color: #198754;

            &:active {
                color: #fff;
                background-color: #198754;
                border-color: #198754;
            }

            &:focus {
                box-shadow: 0 0 0 0.25rem #19875450;
            }

            &:hover {
                color: #fff;
                background-color: #198754;
                border-color: #198754;
            }
        }

        &-light {
            color: #f8f9fa;
            border-color: #f8f9fa;

            &:active {
                color: #000;
                background-color: #f8f9fa;
                border-color: #f8f9fa;
            }

            &:focus {
                box-shadow: 0 0 0 0.25rem #f8f9fa50;
            }

            &:hover {
                color: #000;
                background-color: #f8f9fa;
                border-color: #f8f9fa;
            }
        }
    }

    &-close {
        box-sizing: content-box;
        width: 2em;
        height: 2em;
        padding: 0.25em 0.25em;
        color: #000;
        cursor: pointer;
        background: transparent
            url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
            center/1.5em auto no-repeat;
        border: 0;
        border-radius: 0.25rem;
        opacity: 0.5;

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.25rem #0d6efd50;
            opacity: 1;
        }

        &:hover {
            color: #000;
            text-decoration: none;
            opacity: 0.75;
        }
    }
}
